<h1>Welcome to UpMeet{{firstName}}!</h1>
<hr />
<br>
<h2>Please introduce yourself!</h2>

<br>
<div>
    <form #firstNameForm="ngForm" (ngSubmit)="getUserFirstName(firstNameForm)">
        <label for="firstName">First Name:&nbsp;</label>
        <input name="firstName" id="firstName" ngModel />
        
            &nbsp;<button>Submit</button>
        
    </form>
</div>
<br>
<div>
    <form #lastNameForm="ngForm" (ngSubmit)="getUserLastName(lastNameForm)">
        <label for ="lastName">Last Name:&nbsp;</label>
        <input name="lastName" id="lastName" ngModel />

       &nbsp; <button>Submit</button>
    </form>
</div>