<h1>Welcome to UpMeet{{firstName}}!</h1>
<hr />
<br>


<div *ngFor="let user of userList.results">
    <div *ngIf="user.lastName !== undefined">
        <h2>{{user.userName}}</h2>
    </div>

</div>



<!--
<br>
<div>
    <form #firstNameForm="ngForm" (ngSubmit)="getUserFirstName(firstNameForm)">
        <label for="firstName">First Name:&nbsp;</label>
        <input name="firstName" id="firstName" ngModel />
        
         
        &nbsp;
  
        <label for ="lastName">Last Name:&nbsp;</label>
        <input name="lastName" id="lastName" ngModel />

       &nbsp; <button>Submit</button>
    </form>
</div> 
<div *ngIf="userList.id === 17">
<h2>{{userList.name}}</h2>
</div>
-->